<div ng-controller="Our.Umbraco.RedirectsViewer.SettingsController as vm">
    <div ng-if="!vm.loading">
        <ul class="unstyled">
            <li>
                <label class="checkbox">
                    <input type="checkbox" ng-model="vm.settings[0].allowed" />
                </label>
            </li>
        </ul>

        <ul class="unstyled" ng-if="vm.settings[0].allowed">
            <li><localize key="redirectsviewer_prevalueUsergroupsCreate">Select the user groups that have rights to create</localize></li>
            <li ng-repeat="item in vm.createGroups">
                <label class="checkbox">
                    <input type="checkbox" name="groups" value="{{item.alias}}" ng-model="item.checked" />
                    {{item.name}}
                </label>
            </li>
        </ul>
    </div>
</div>