<div class="ImportDialog umb-editor-container umb-panel-body umb-scrollable"
     ng-controller="Our.Umbraco.RedirectsViewer.ImportDialog.Controller">
    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

    <umb-editor-view ng-if="!vm.loading">
    <umb-box>

        <umb-box-header title-key="redirectsviewer_import"></umb-box-header>
        <umb-box-subhearder title-key="redirectsviewer_addNewRedirectSubTitle"></umb-box-subhearder>
        <umb-box-content class="block-form">


            <div class="umb-editor-sub-view">
                <div class="umb-editor-sub-view__content">
                    <div class="redirects-basic-options">
                        <label class="sky-option">
                            <strong>
                                <localize key="redirectsviewer_selectFile">File</localize>
                            </strong>

                            <umb-single-file-upload rebuild="rebuildInput"></umb-single-file-upload>

                            <div ng-show="invalidFileFormat" class="alert alert-error property-error">
                                <localize key="redirectsviewer_incorrectFileType">The uploaded file must be in CSV or
                                    Excel
                                    format.
                                </localize>
                            </div>
                            <!--<div class="btn-group">
                                <input type="submit" ng-click="upload()" class="btn btn-success" value="Upload file" />
                            </div>-->
                            <div ng-show="noFile" class="alert alert-error property-error">
                                <localize key="redirectsviewer_noFile">A CSV or XLSX file must be selected.</localize>
                            </div>
                        </label>
                    </div>

                </div>

            </div>
        </umb-box-content>
    </umb-box>
    
            <umb-editor-footer>

                <umb-editor-footer-content-left>

               

                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button
                            type="button"
                            button-style="link"
                            action="close()"
                            label-key="redirectsviewer_cancel">
                    </umb-button>
                    <umb-button
                            type="button"
                            action="upload()"
                            button-style="success"
                            label-key="redirectsviewer_import">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>
    </umb-editor-view>
    
</div>